
  .steps_wrapper {
    width: 400px;
    margin: 5px auto;
    background: #f1f1f2;
    padding: 10px 20px;
  }
  
  .step {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .steps_wrapper h1 {
    text-align: center;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .form label {
    font-size: 13px;
    padding-top: 15px;
    margin-bottom: 4px;
  }
  
  .form input {
   /* padding: 5px;*/
  }
  
  .steps_data {
    display: flex;
    justify-content: space-evenly;
  }
  
  ul {
    text-align: left;
  }
  
  button {
    padding: 5px 15px;
    margin: 2px;
  }
  

  .parent-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure it takes full height of its parent */
  }
  
  .submenu-container {
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.3s ease-in-out;
    flex-grow: 1; /* Allow it to grow and take available height */
    z-index: -1;
    left: 150px;
  }
  
  .submenu-container.show {
    max-width: 200px; /* Adjust the width based on your design */
    z-index: 100;
    background-color: black;
  }
  
  .submenu-item {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevent text from wrapping */
  }